
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: none;
  padding: 5px;
  text-align: left;
  font-weight: 500;
  color:#3F3532
}
tr {
  border-bottom: 1px solid#EAEAEA; /* Or any other color */
}